<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>Introduce the new bookmark url: </p>
    <form action="/add" method="post">
    <label for="titel">
      <input type="text" name="title">
    </label>
    <label for="url">
      <input type="text" name="url">
    </label>
      <input type="submit" value="submit">
    </form>


  </body>
</html>
