
<form action="/bookmarks/<%= @id %>" method="post" class="">
      <input type="hidden" name="_method" value="PATCH">
      <label for="title">
          Title:
          <input type="text" name="title" value="">
      </label>
      <label for="url">
          Url:
          <input type="text" name="url" value="">
      </label>
      <input type="hidden" name="_method" value="PATCH" />
      <input type="submit" name="" value="Done">
</form>
