<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/user" method="post">
    <label for="email">User: </label>
      <input type="text" name="email">
    <label for="pwd">Password: </label>
    <input type="password" name="pwd">
    <input type="submit" value="sign up">
    </form>


  </body>
</html>
